* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.ability-name {
  margin: 15px 0px 15px 0px;
  padding: 15px 0px 15px 0px;
  text-align: center;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
.capitalize {
  text-transform: capitalize;
}
.centered-text {
  text-align: center;
}
.centered-close-button{
  width: 100%;
  align-content: center;
}
.flex-child {
  flex: 1;
}
.grid {
  border: 50px 0 50px 0;
  padding: 25px 100px 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  grid-gap: 30px;
  background-color: lavender;
}
.item {
  min-height: 200px;
  background-color: white;
  border-radius: 20px;
}
.image-container {
  flex: 1;
  border: 2px;
  margin: 10px 0 10px 0;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1000px;
  pointer-events: auto;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}
.modal-lg,
.modal-xl {
  min-width: 950px;
}
.modal-wrapper {
  background: #fff;
  width: 80%;
  max-width: 850px;
  margin: 4rem auto;
  transition: all 0.5s ease;
}
.no-bullets {
  list-style-type: none;
  padding-left: 50px;
}
.poke-data {
  margin-left: 5px;
  margin-right: 10px;
}
.pokemon-card-name {
  margin: 20px 0 5px 0;
}
.progress-bar-container {
  width: 150px;
  padding: 5.6px 0 5.5px 0;
}
.side-by-side {
  display: flex;
}
.stats-type-container {
  margin: 75px 0 0 10px;
  min-width: 400px;
}
.stats-name {
  max-width: 140px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.stats-value {
  min-width: 30px;
  margin: 0 15px 0 10px;
  text-align: right;
  vertical-align: middle;
}
.stats-bar {
  margin: 0 10px 0 10px;
  vertical-align: middle;
}
ul {
  margin-left: 0;
  padding-left: 10px;
}
.utility-section {
  background-color: lavender;
}
